<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Nest Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link href="/public/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="./pintura/pintura.css" />
    <script src="./pintura/pintura-iife.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <section class="content-main">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div>
                        <h2 class="content-title card-title">Products List</h2>
                        <!-- <p>Lorem ipsum dolor sit amet.</p> -->
                    </div>

                    <form id="updateProductForm" action="/admin/updateProduct" method="POST"
                        enctype="multipart/form-data">
                        <% if(productById) { %>
                            <input type="hidden" name="_id" value="<%= productById._id %>">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="hidden" name="_id" value="<%= productById._id %>">
                                <input type="text" class="form-control" id="name" name="name"
                                    value="<%= productById.name %>">
                            </div>
                            <div class="form-group">
                                <label for="price">Price</label>
                                <input type="number" class="form-control" id="price" name="price"
                                    value="<%= productById.price %>">
                            </div>
                            <div class="form-group">
                                <label for="existingImages">Existing Images</label>
                                <div id="existingImages">
                                    <% productById.image.forEach((image, index)=> { %>
                                        <div class="existing-image-container">
                                            <img src="/productImages/<%= image %>" alt="Existing Image"
                                                class="existing-image">
                                            <input type="file" name="newImages" accept=".jpg,.jpeg">
                                        </div>
                                        <% }); %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select name="category" id="category" class="form-select">
                                    <% category.forEach((cat)=> { %>
                                        <option value="<%= cat._id %>" <%=(productById.category &&
                                            productById.category.toString()===cat._id.toString()) ? 'selected' : '' %>
                                            ><%= cat.categoryName %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="quantity">Quantity</label>
                                <input type="number" class="form-control" id="quantity" name="quantity"
                                    value="<%= productById.quantity %>">
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" id="description"
                                    name="description"><%= productById.description %></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Update Product</button>
                            <% } %>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.getElementById('updateProductForm').addEventListener('submit', async function (event) {
            event.preventDefault();

            const form = event.target;
            const formData = new FormData(form);

            try {
                const response = await fetch('/admin/updateProduct', {
                    method: 'POST',
                    body: formData
                });

                const result = await response.json();

                if (result.success) {
                    Swal.fire({

                        position: "center",
                        icon: "success",
                        title: result.message,
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        window.location.href = '/admin/products'; // Redirect to products page
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: result.message,
                    });
                }
            } catch (error) {
                console.error('Error updating product:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Server Error',
                    text: 'An error occurred while updating the product.',
                });
            }
        });
    </script>

</body>

</html>