<!-- /*
* Bootstrap 5
* Template Name: Furni
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap4" />

	<!-- Bootstrap CSS -->
	<link href="/public/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link href="/public/css/tiny-slider.css" rel="stylesheet">
	<link href="/public/css/style.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<title>Furni Free Bootstrap 5 Template for Furniture and Interior Design Websites by Untree.co </title>
</head>

<body>

	<!-- Start Header/Navigation -->
	<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

		<div class="container">
			<a class="navbar-brand" href="/">Furni<span>.</span></a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
				aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsFurni">
				<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					<li class="nav-item ">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li><a class="nav-link" href="/shop">Shop</a></li>
					<li><a class="nav-link" href="/about">About us</a></li>
					<li><a class="nav-link" href="/services">Services</a></li>
					<li><a class="nav-link" href="/blog">Blog</a></li>
					<li><a class="nav-link" href="/blog">Contact us</a></li>
				</ul>

				<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
					<li><a class="nav-link" href="/user"><img src="/public/images/user.svg"></a></li>
					<li><a class="nav-link" href="/cart"><img src="/public/images/cart.svg"></a></li>
				</ul>
			</div>
		</div>

	</nav>
	<!-- End Header/Navigation -->

	<!-- Start Hero Section -->
	<div class="hero">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-5">
					<div class="intro-excerpt">
						<h1>Checkout</h1>
					</div>
				</div>
				<div class="col-lg-7">

				</div>
			</div>
		</div>
	</div>
	<!-- End Hero Section -->

	<div class="untree_co-section">
		<div class="container">

			<div class="row mb-5">
				<div class="col-md-6">
					<h2 class="h3 mb-3 text-black">Address details</h2>
					<div class="p-3 p-lg-5 border bg-white">
						<% addressData.forEach((address, index)=> { %>
							<div class="form-check mb-2">
								<input class="form-check-input" type="radio" name="address" id="address<%= index %>"
									value="<%= address._id %>" data-address="<%= JSON.stringify(address) %>">
								<label class="form-check-label" for="address<%= index %>">
									<%= address.name %>, <%= address.locality %>, <%= address.post %>, <%= address.state
													%>, <%= address.pincode %>
								</label>
							</div>
							<% }) %>
					</div>
				</div>
			</div>

			<form id="checkOutForm">
				<div class="row">
					<div class="col-md-6 mb-5 mb-md-0">
						<h2 class="h3 mb-3 text-black">Billing Details</h2>
						<div class="p-3 p-lg-5 border bg-white">

							<div class="form-group row">
								<div class="col-md-12">
									<label for="name" class="text-black">Name <span class="text-danger">*</span></label>
									<input type="text" class="form-control" id="c_name" name="name"
										value="<%= addressData.name %>">
								</div>
							</div>

							<div class="form-group row">
								<div class="col-md-12">
									<label for="c_address" class="text-black">Address <span
											class="text-danger">*</span></label>
									<input type="text" class="form-control" id="c_address" name="c_address"
										value="<%= addressData.address %>">
								</div>
							</div>

							<div class="form-group row">
								<div class="col-md-6">
									<label for="c_state_country" class="text-black">State / Country <span
											class="text-danger">*</span></label>
									<input type="text" class="form-control" id="c_state_country" name="c_state_country">
								</div>
								<div class="col-md-6">
									<label for="c_postal_zip" class="text-black">Postal code / Zip <span
											class="text-danger">*</span></label>
									<input type="text" class="form-control" id="c_postal_zip" name="c_postal_zip">
								</div>
							</div>

							<div class="form-group row">
								<div class="col-md-6">
									<label for="locality" class="text-black">City / street <span
											class="text-danger">*</span></label>
									<input type="text" class="form-control" id="c_locality" name="locality">
								</div>

								<div class="col-md-6">
									<label for="postoffice" class="text-black">Post Office<span
											class="text-danger">*</span></label>
									<input type="text" class="form-control" id="c_post_office" name="postoffice"
										value="<%= addressData.post %>">
								</div>
							</div>

							<div class="form-group row mb-5">
								<div class="col-md-6">
									<label for="c_phone" class="text-black">Phone <span
											class="text-danger">*</span></label>
									<input type="text" class="form-control" id="c_phone" name="c_phone">
								</div>
							</div>


							<div class="form-group">
								<a href="/user"> <button type="button" class="btn btn-primary btn-block btn-md">Ship to
										Another address</button></a>
							</div>


						</div>
					</div>
					<div class="col-md-6">

						<!-- <div class="row mb-5">
							<div class="col-md-12">
								<h2 class="h3 mb-3 text-black">Coupon Code</h2>
								<div class="p-3 p-lg-5 border bg-white">

									<label for="c_code" class="text-black mb-3">Enter your coupon code if you have
										one</label>
									<div class="input-group w-75 couponcode-wrap">
										<input type="text" class="form-control me-2" id="c_code"
											placeholder="Coupon Code" aria-label="Coupon Code"
											aria-describedby="button-addon2">
										<div class="input-group-append">
											<button class="btn btn-black btn-sm" type="button"
												id="button-addon2">Apply</button>
										</div>
									</div>

								</div>
							</div>
						</div>   -->

						<div class="row mb-5">
							<div class="col-md-12">
								<h2 class="h3 mb-3 text-black">Your Order</h2>
								<div class="p-3 p-lg-5 border bg-white">
									<table class="table site-block-order-table mb-5">
										<thead>
											<th>Product</th>
											<th>Total</th>
										</thead>
										<tbody>
											<% userCartData.forEach((cartItem)=> { %>
												<tr>
													<td>
														<%= cartItem.productName %><strong class="mx-2">x</strong>
															<%= cartItem.quantity %>
													</td>
													<td>Rs <%= cartItem.total %>
													</td>
												</tr>
												<% }) %>

													<tr>
														<td class="text-black font-weight-bold"><strong>Cart
																Subtotal</strong></td>
														<td class="text-black">Rs <%= userCartTotal %>
														</td>
													</tr>
													<tr>
														<td class="text-black font-weight-bold"><strong>Order
																Total</strong>
														</td>
														<td class="text-black font-weight-bold"><strong>Rs <%=
																	userCartTotal %></strong></td>
													</tr>
										</tbody>
									</table>

									<div class="border p-3 mb-3">
										<h3 class="h6 mb-0">
											<input type="radio" name="paymentMethod" id="paymentCOD" value="COD"
												data-bs-toggle="collapse" href="#collapsebank" role="button"
												aria-expanded="false" aria-controls="collapsebank">
											<label for="paymentCOD" class="d-block">Cash On Delivery</label>
										</h3>
									</div>

									<div class="border p-3 mb-3">
										<h3 class="h6 mb-0"> <input type="radio" name="paymentMethod" id="Razorpay"
												value="Razorpay" data-bs-toggle="collapse" href="#Razorpay"
												role="button" aria-expanded="false" aria-controls="Razorpay">
											<label for="Razorpay" class="d-block">Razor Pay</label>
										</h3>
									</div>

									<div class="border p-3 mb-5">
										<h3 class="h6 mb-0"> <input type="radio" name="paymentMethod" id="wallet"
												value="wallet" data-bs-toggle="collapse" href="#collapsepaypal"
												role="button" aria-expanded="false" aria-controls="collapsepaypal">
											<label for="wallet" class="d-block">Wallet</label>
										</h3>

									</div>

									<div class="form-group">
										<button class="btn btn-black btn-lg py-3 btn-block" type="submit">Place
											Order</button>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- Start Footer Section -->
	<footer class="footer-section">
		<div class="container relative">

			<div class="sofa-img">
				<img src="/public/images/sofa.png" alt="Image" class="img-fluid">
			</div>

			<div class="row">
				<div class="col-lg-8">
					<div class="subscription-form">
						<h3 class="d-flex align-items-center"><span class="me-1"><img
									src="/public/images/envelope-outline.svg" alt="Image"
									class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

						<form action="#" class="row g-3">
							<div class="col-auto">
								<input type="text" class="form-control" placeholder="Enter your name">
							</div>
							<div class="col-auto">
								<input type="email" class="form-control" placeholder="Enter your email">
							</div>
							<div class="col-auto">
								<button class="btn btn-primary">
									<span class="fa fa-paper-plane"></span>
								</button>
							</div>
						</form>

					</div>
				</div>
			</div>

			<div class="row g-5 mb-5">
				<div class="col-lg-4">
					<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Furni<span>.</span></a></div>
					<p class="mb-4">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl
						dapibus
						malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor
						tristique.
						Pellentesque habitant</p>

					<ul class="list-unstyled custom-social">
						<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
					</ul>
				</div>

				<div class="col-lg-8">
					<div class="row links-wrap">
						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">About us</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Contact us</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">Support</a></li>
								<li><a href="#">Knowledge base</a></li>
								<li><a href="#">Live chat</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">Jobs</a></li>
								<li><a href="#">Our team</a></li>
								<li><a href="#">Leadership</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">Nordic Chair</a></li>
								<li><a href="#">Kruzo Aero</a></li>
								<li><a href="#">Ergonomic Chair</a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>

			<div class="border-top copyright">
				<div class="row pt-4">
					<div class="col-lg-6">
						<p class="mb-2 text-center text-lg-start">Copyright &copy;
							<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash;
							Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a
								hreff="https://themewagon.com">ThemeWagon</a>
							<!-- License information: https://untree.co/license/ -->
						</p>
					</div>

					<div class="col-lg-6 text-center text-lg-end">
						<ul class="list-unstyled d-inline-flex ms-auto">
							<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>

				</div>
			</div>

		</div>
	</footer>
	<!-- End Footer Section -->


	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

	<script>
		document.querySelectorAll('input[name="address"]').forEach((radio) => {
			radio.addEventListener('change', function () {
				const addressData = this.getAttribute('data-address');
				if (addressData) {
					try {
						const address = JSON.parse(addressData);
						document.getElementById('c_name').value = address.name || '';
						document.getElementById('c_address').value = address.address || '';
						document.getElementById('c_state_country').value = address.state || '';
						document.getElementById('c_postal_zip').value = address.pincode || '';
						document.getElementById('c_locality').value = address.locality || '';
						document.getElementById('c_post_office').value = address.post || '';
						document.getElementById('c_phone').value = address.mobile || '';
					} catch (error) {
						console.error('Error parsing address data:', error);
					}
				} else {
					console.error('No data-address attribute found on radio button:', this);
				}
			});
		});

		document.addEventListener('DOMContentLoaded', function () {
			const form = document.getElementById('checkOutForm');
			if (form) {
				form.addEventListener('submit', function (event) {
					event.preventDefault();

					// Validate address
					const addressInputs = ['c_name', 'c_address', 'c_state_country', 'c_postal_zip', 'c_locality', 'c_post_office', 'c_phone'];
					let addressSelected = addressInputs.every(inputId => document.getElementById(inputId).value.trim() !== '');

					if (!addressSelected) {
						Swal.fire({
							icon: 'error',
							title: 'Error',
							text: 'Address is not selected',
						});
						return;
					}

					// Validate payment method
					const paymentMethod = document.querySelector('input[name="paymentMethod"]:checked');
					if (!paymentMethod) {
						Swal.fire({
							icon: 'error',
							title: 'Error',
							text: 'Payment method is not selected',
						});
						return;
					}

					const formData = new FormData(this);

					const checkOutData = {};
					formData.forEach((value, key) => {
						checkOutData[key] = value;
					});

					console.log('From data,checkout', checkOutData);

					axios.post('/checkOut', checkOutData)
						.then(response => {
							console.log('Order places success');
							console.log(response.data, 'response data')
							if (response.data.codSuccess) {
								Swal.fire({
									icon: 'success',
									text: 'Order placed successfully',
									timer:1500,
								}).then(() => {
									window.location.href = '/thankyou';
								});
							} else if (response.data.onlineSuccess) {
								console.log('else if orderdata', response.data.order)
								razorpayPayment(response.data.order)
							}
						})
						.catch(error => {
							console.error('Error placing order :', error);
						});
				});
			} else {
				console.log('form element with id "checkOutForm" not found');
			}
		});

		function razorpayPayment(order) {
			var options = {
				"key": "rzp_test_4AB1dm0KvAE5MR", // Enter the Key ID generated from the Dashboard
				"amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
				"currency": "INR",
				"name": "Furni", //your business name
				"description": "Quality is our value",
				"image": "https://themewagon.github.io/furni/images/sofa.png",
				"order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
				"handler": function (response) {
					alert('payment Success')

					const data = {
						response,
						order,
					};

					axios.post('/verifyPayment', data)
						.then(response => {
							console.log('verifyPayment success')
							if (response.data.Success) {
								Swal.fire({
									icon: 'success',
									title: 'Success',
									text: 'Order placed successfully',
								}).then(() => {
									window.location.href = '/thankyou';
								});
							}
						}).catch(error => {
							console.log('verification error:', error);
						})
				},
				"prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
					"name": "Muhammad Mansoor", //your customer's name
					"email": "mansoorputhukkayam@gmail.com",
					"contact": "7907822914"  //Provide the customer's phone number for better conversion rates 
				},
				"notes": {
					"address": "Razorpay Corporate Office"
				},
				"theme": {
					"color": "#3b5d50"
				}
			};

			var rzp1 = new Razorpay(options);
			rzp1.on('payment.failed', function (response) {
				alert(response.error.code);
				alert(response.error.description);
				alert(response.error.source);
				alert(response.error.step);
				alert(response.error.reason);
				alert(response.error.metadata.order_id);
				alert(response.error.metadata.payment_id);
			});
			rzp1.open();
		}

	</script>

	<script src="/public/js/bootstrap.bundle.min.js"></script>
	<script src="/public/js/tiny-slider.js"></script>
	<script src="/public/js/custom.js"></script>

</body>

</html>