<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="/public/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link href="/public/css/tiny-slider.css" rel="stylesheet">
  <link href="/public/css/style.css" rel="stylesheet">
  <title>Furni Free Bootstrap 5 Template for Furniture and Interior Design Websites by Untree.co </title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <style>
    .error {
      color: red;
      font-size: 0.9em;
    }
  </style>

</head>

<body>

  <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark " arial-label="Furni navigation bar">

    <div class="container ">
      <a class="navbar-brand mx-auto" href="/">Furni<span>.</span></a>
    </div>

  </nav>
  <!-- End Header/Navigation -->

  <div class="container mt-5">
    <div class="row">
      <div class="col-3">
        <!-- Tab navs -->
        <div class="nav flex-column nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a data-mdb-pill-init class="nav-link active" id="v-pills-home-tab" href="#v-pills-home" role="tab"
            aria-controls="v-pills-home" data-bs-toggle="pill" aria-selected="true">Home</a>
          <a data-mdb-pill-init class="nav-link" id="v-pills-myorder-tab" href="#v-pills-myorder" role="tab"
            aria-controls="v-pills-myorder" data-bs-toggle="pill" aria-selected="false">My Orders</a>
          <a data-mdb-pill-init class="nav-link" id="v-pills-mywallet-tab" href="#v-pills-mywallet" role="tab"
            aria-controls="v-pills-mywallet" data-bs-toggle="pill" aria-selected="false">My Wallet</a>
          <a data-mdb-pill-init class="nav-link" id="v-pills-profile-tab" href="#v-pills-profile" role="tab"
            aria-controls="v-pills-profile" data-bs-toggle="pill" aria-selected="false">Profile</a>
          <a data-mdb-pill-init class="nav-link" id="v-pills-address-tab" href="#v-pills-address" role="tab"
            aria-controls="v-pills-address" data-bs-toggle="pill" aria-selected="false">Address</a>
          <a data-mdb-pill-init class="nav-link" id="v-pills-addAddress-tab" href="#v-pills-addAddress" role="tab"
            aria-controls="v-pills-addAddress" data-bs-toggle="pill" aria-selected="false">Add Address</a>
          <a data-mdb-pill-init class="nav-link" id="v-pills-changepassword-tab" href="#v-pills-changepassword"
            role="tab" aria-controls="v-pills-changepassword" data-bs-toggle="pill" aria-selected="false">Change
            Password</a>
          <a data-mdb-pill-init class="nav-link" id="v-pills-logout-tab" role="tab" style="cursor: pointer;"
            aria-controls="v-pills-logout" aria-selected="false">Sign Out</a>
          <a data-mdb-pill-init class="nav-link" id="v-pills-hhh-tab" href="/" role="tab" aria-controls="v-pills-hhh"
            aria-selected="false">Hhh</a>
        </div>
        <!-- Tab navs -->
      </div>

      <div class="col-9">
        <!-- Tab content -->
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

            <!-- start order history -->
            <!-- Button trigger modal -->
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#orderHistoryModal">
  View Order History
</button> -->

            <!-- Order History Modal -->
            <!-- <div class="modal fade" id="orderHistoryModal" tabindex="-1" role="dialog" aria-labelledby="orderHistoryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderHistoryModalLabel">Order History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Total</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>#12345</td>
                <td>June 10, 2024</td>
                <td>$99.99</td>
                <td><span class="badge badge-success">Delivered</span></td>
                <td>
                  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#orderDetailsModal">
                    View Details
                  </button>
                </td>
              </tr> -->
            <!-- Add more order rows here -->
            <!-- </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->
            <!-- end history here -->
          </div>

          <!-- starting of a order -->
          <div class="tab-pane fade" id="v-pills-myorder" role="tabpanel" aria-labelledby="v-pills-myorder-tab">
            <div class="container">

              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <% if(orderData.length < 1){ %>
                      <h4>no orders</h4>
                      <% } else { %>
                        <% orderData.forEach((order)=> { %>
                          <div class="card-header">
                            <h5 class="mb-0">Order #<%= order.orderId %>
                            </h5>
                          </div>



                          <% if(order.paymentStatus==='Failed' && order.orderAmount> 0){ %>
                            <div style="margin-left: auto;margin-right: 20px;margin-top: 20px;">
                              <button class="btn btn-primary " onclick="payAgain('<%=order._id%>')">pay
                                now</button><br>
                            </div>

                            <% } %>


                              <div class="card-body">
                                <div class="row">
                                  <div class="col-md-6">
                                    <h6>Order Details</h6>
                                    <ul class="list-unstyled">
                                      <li><strong>Order Date: </strong>
                                        <%= order.createdAt.toLocaleDateString() %>
                                      </li>
                                      <li><strong>Total Amount:</strong> $<%= order.orderAmount %>
                                      </li>
                                      <li><strong>Order Status:</strong>
                                        <%= order.status %>
                                      </li>
                                    </ul>
                                  </div>
                                  <div class="col-md-6">
                                    <h6>Shipping Address</h6>
                                    <% if(!order.deliveryAddress){ %>
                                      <p>Add addres</p>
                                      <% }else{ %>
                                        <p>
                                          <%= order.deliveryAddress.name %><br>
                                            <%= order.deliveryAddress.address %><br>
                                              <%= order.deliveryAddress.locality %>, <%= order.deliveryAddress.post %>,
                                                  <%= order.deliveryAddress.pincode %>
                                        </p>
                                        <% } %>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-12">
                                    <h6>Order Items</h6>
                                    <table class="table table-bordered">
                                      <thead>
                                        <tr>
                                          <th>Image</th>
                                          <th>Product</th>
                                          <th>Price</th>
                                          <th>Quantity</th>
                                          <th>Total</th>
                                          <th>Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% order.orderedItems.forEach((item)=> { %>
                                          <tr>
                                            <td>
                                              <div class="text-center">
                                                <img style="width: 60px;height: 60px;"
                                                  src="/public/productImages/<%= item.image %>" alt="nothing to show ">
                                              </div>
                                            </td>
                                            <td>
                                              <%= item.productName %>
                                            </td>
                                            <td>
                                              <%= item.price %>
                                            </td>
                                            <td>
                                              <%= item.quantity %>
                                            </td>
                                            <td>$<%= item.total %>
                                            </td>

                                            <% if(item.status==='Cancelled' ){ %>
                                              <td class="text-danger">
                                                <%= item.status %>
                                                  <br>

                                                  <% }else if(item.status=='Returned' ){ %>
                                              <td class="text-info">
                                                <%= item.status %>
                                                  <br>

                                                  <%}else if( item.status=='Delivered' ) { %>
                                              <td class="text-info">
                                                <%= item.status %>
                                                  <br>
                                                  <button class="btn btn-sm btn-success"
                                                    onclick="returnclick('<%= item._id %>','<%= item.productId %>','<%= order._id %>')">Return</button>
                                                  <a href="/downloadInvoice/?id=<%=order._id%>"
                                                    class="btn btn-success btn-sm" id="invoice">
                                                    Invoice
                                                  </a>
                                                  <% } else { %>
                                              <td class="text-success">
                                                <%= item.status %>
                                                  <br>
                                                  <button class="btn btn-sm btn-danger"
                                                    onclick="btnclick('<%= item._id %>','<%= item.quantity %>','<%= item.productId %>','<%= order.orderId %>')">Cancel</button>
                                              </td>
                                              <% } %>
                                          </tr>
                                          <% }) %>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                              <% }) %>
                                <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of a order -->

          <div class="tab-pane fade" id="v-pills-mywallet" role="tabpanel" aria-labelledby="v-pills-mywallet-tab">
            <div class="container my-5">
              <h1 class="mb-4">My Wallet</h1>

              <div class="row">
                <div class="col-md-4 mb-4">
                  <div class="wallet-card">
                    <h3 class="mb-3">Balance</h3>
                    <% if(wallet && wallet.balance !==null && wallet.balance !==undefined ) { %>

                      <h2 class="mb-4">₹ <%= wallet.balance %>
                      </h2>
                      <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addFundsModal">
                        <i class="fas fa-plus-circle me-2"></i>Add Funds
                      </button>
                      <% }else{ %>
                        <h2 class="mb-4">₹ 0.00
                        </h2>
                        <% } %>
                  </div>
                </div>

                <div class="col-md-8">
                  <h3 class="mb-3">Recent Transactions</h3>
                  <div class="transaction-list">

                    <table class="table">
                      <thead class="thead-light">
                        <tr>
                          <th>Date</th>
                          <th>Description</th>
                          <th>Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if (wallet && wallet.history && wallet.history.length> 0) { %>
                          <% wallet.history.forEach((data)=>{ %>
                            <tr>
                              <td>
                                <%= data.Date %>
                              </td>
                              <td>
                                <%= data.Description %>
                              </td>
                              <td>
                                <%= data.Amount %>
                              </td>
                            </tr>
                            <% }) %>
                              <% }else{ %>
                                <tr>
                                  <td colspan="3" class="text-center">No history available</td>
                                </tr>
                                <% } %>
                      </tbody>
                    </table>


                    <div class="transaction-item">
                      <small class="text-muted"></small>
                    </div>


                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="addFundsModal" tabindex="-1" aria-labelledby="addFundsModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="addFundsModalLabel">Add Funds to Wallet</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form action="/wallet/add-funds" method="POST">
                      <div class="mb-3">
                        <label for="amount" class="form-label">Amount</label>
                        <input type="number" class="form-control" id="amount" name="amount" min="1" step="0.01"
                          required>
                      </div>
                      <button type="submit" class="btn btn-primary">Add Funds</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <!-- Add profile content -->
            <div class="col-md-4">
              <div class="col-md-6">
                <img src="/public/images/person_1.jpg" class="img-fluid" alt="User Image">
              </div>
              <% if(userProfile){ %>
                <h2 class="mt-3">
                  <%= userProfile.name %>
                </h2>
                <h5>Mob :<%= userProfile.mobile %>
                </h5>
                <h5>Email : <%= userProfile.email %>
                </h5>
                <a href="#" class="btn btn-primary editButton" data-bs-toggle="modal"
                  data-bs-target="#editModal<%= userProfile._id %>">Edit</a>
            </div>
            <% } %>
          </div>
          <!-- userprofile edit Modal starts  -->
          <% if(userProfile) { %>
            <div class="modal fade" id="editModal<%= userProfile._id %>" tabindex="-1" aria-labelledby="editModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- Modal content -->
                  <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!-- Form for editing user details -->
                    <form action="/updateProfile" method="post">
                      <div class="mb-3">
                        <label for="editName" class="form-label">Name</label>
                        <input type="hidden" value="<%= userProfile._id %>" name="id">
                        <input type="text" class="form-control" name="name" id="editName"
                          value="<%= userProfile.name %>" required>
                      </div>
                      <div class="mb-3">
                        <label for="editMobile" class="form-label">Mobile</label>
                        <input type="text" class="form-control" name="mobile" id="editMobile"
                          value="<%= userProfile.mobile %>" required>
                      </div>
                      <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
              <!-- userprofile modal ends here  -->

              <!-- address  start-->
              <div class="tab-pane fade" id="v-pills-address" role="tabpanel" aria-labelledby="v-pills-address-tab">
                <div class="card" style="width: 18rem;">
                  <% if(viewAddress.length < 1){ %>
                    <h4>No address is found</h4>
                    <% }else{ %>
                      <% viewAddress.forEach(function(address){ %>
                        <div class="card-body">
                          <h5 class="card-title">
                            <%= address.name %>
                          </h5>
                          <p class="card-text">
                            <%= address.address %>
                          </p>
                          <p class="card-text"><strong>State :</strong>
                            <%= address.state %>
                          </p>
                          <p class="card-text"><strong>Mobile :</strong>
                            <%= address.mobile %>
                          </p>
                          <!-- Edit button with unique identifier -->
                          <a href="#" class="btn btn-primary editButton" data-bs-toggle="modal"
                            data-bs-target="#editModal<%= address._id %>">Edit</a>
                          <a href="/deleteAddress/<%= address._id %>" class="btn btn-primary ms-3" id="deleteButton"
                            name="id" value="<%= address._id %>">Delete</a>
                          <hr>
                        </div>
                        <% }) %>
                          <% } %>
                </div>
              </div>
              <!-- addrress end  -->

              <!-- Modal for editing address -->
              <% viewAddress.forEach(function(address){ %>
                <div class="modal fade" id="editModal<%= address._id %>" tabindex="-1" aria-labelledby="editModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <!-- Modal content -->
                      <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Edit Address</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <!-- Form for editing address details -->
                        <form action="/updateAddress" method="post">
                          <div class="mb-3">
                            <label for="editName" class="form-label">Name</label>
                            <input type="hidden" value="<%= address._id %>" name="id">
                            <input type="text" class="form-control" name="name" id="editName"
                              value="<%= address.name %>" required>
                          </div>
                          <div class="mb-3">
                            <label for="editAddress" class="form-label">Address</label>
                            <input type="text" class="form-control" name="address" id="editAddress"
                              value="<%= address.address %>" required>
                          </div>
                          <div class="mb-3">
                            <label for="editState" class="form-label">State</label>
                            <input type="text" class="form-control" name="state" id="editState"
                              value="<%= address.state %>" required>
                          </div>
                          <div class="mb-3">
                            <label for="editMobile" class="form-label">Mobile</label>
                            <input type="text" class="form-control" name="mobile" id="editMobile"
                              value="<%= address.mobile %>" required>
                          </div>
                          <div class="mb-3">
                            <label for="editlocality" class="form-label">City/Town</label>
                            <input type="text" class="form-control" name="locality" id="locality"
                              value="<%= address.locality %>" required>
                          </div>
                          <div class="mb-3">
                            <label for="editpincode" class="form-label">Pincode</label>
                            <input type="text" class="form-control" name="pincode" id="editpincode"
                              value="<%= address.pincode %>" required>
                          </div>
                          <div class="mb-3">
                            <label for="editpost" class="form-label">Post</label>
                            <input type="text" class="form-control" name="post" id="editpost"
                              value="<%= address.post %>" required>
                          </div>
                          <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %>


                  <!-- addAddress start -->
                  <div class="tab-pane fade" id="v-pills-addAddress" role="tabpanel"
                    aria-labelledby="v-pills-addAddress-tab">
                    <div>
                      <form id="addressForm" action="/addAddress" method="post">
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Name" required
                              minlength="5">
                            <span class="error" id="nameError"></span>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="mobile">Mobile</label>
                            <input type="text" class="form-control" name="mobile" id="mobile" placeholder="mobile"
                              required pattern="\d{10}" title="Mobile number must be 10 digits">
                            <span class="error" id="mobileError"></span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputAddress">Address</label>
                          <input type="text" class="form-control" name="address" id="inputAddress" placeholder="address"
                            required>
                          <span class="error" id="addressError"></span>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputCity">City/Town</label>
                            <input type="text" class="form-control" id="inputCity" name="locality"
                              placeholder="locality" required>
                            <span class="error" id="cityError"></span>
                          </div>
                          <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="inputState" name="state" class="form-control" required>
                              <option selected>Select Your State...</option>
                              <option value="Andhra Pradesh">Andhra Pradesh</option>
                              <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                              <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                              <option value="Assam">Assam</option>
                              <option value="Bihar">Bihar</option>
                              <option value="Chandigarh">Chandigarh</option>
                              <option value="Chhattisgarh">Chhattisgarh</option>
                              <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                              <option value="Daman and Diu">Daman and Diu</option>
                              <option value="Delhi">Delhi</option>
                              <option value="Lakshadweep">Lakshadweep</option>
                              <option value="Puducherry">Puducherry</option>
                              <option value="Goa">Goa</option>
                              <option value="Gujarat">Gujarat</option>
                              <option value="Haryana">Haryana</option>
                              <option value="Himachal Pradesh">Himachal Pradesh</option>
                              <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                              <option value="Jharkhand">Jharkhand</option>
                              <option value="Karnataka">Karnataka</option>
                              <option value="Kerala">Kerala</option>
                              <option value="Madhya Pradesh">Madhya Pradesh</option>
                              <option value="Maharashtra">Maharashtra</option>
                              <option value="Manipur">Manipur</option>
                              <option value="Meghalaya">Meghalaya</option>
                              <option value="Mizoram">Mizoram</option>
                              <option value="Nagaland">Nagaland</option>
                              <option value="Odisha">Odisha</option>
                              <option value="Punjab">Punjab</option>
                              <option value="Rajasthan">Rajasthan</option>
                              <option value="Sikkim">Sikkim</option>
                              <option value="Tamil Nadu">Tamil Nadu</option>
                              <option value="Telangana">Telangana</option>
                              <option value="Tripura">Tripura</option>
                              <option value="Uttar Pradesh">Uttar Pradesh</option>
                              <option value="Uttarakhand">Uttarakhand</option>
                              <option value="West Bengal">West Bengal</option>

                            </select>
                          </div>
                          <div class="row">
                            <div class="form-group col-md-3">
                              <label for="Post">Post</label>
                              <input type="text" class="form-control" name="post" id="post" required>
                              <span class="error" id="postError"></span>
                            </div>
                            <div class="form-group col-md-2">
                              <label for="pincode">Pin code</label>
                              <input type="text" class="form-control" name="pincode" id="pincode" required
                                pattern="\d{6}" title="Pin code must be 6 digits">
                              <span class="error" id="pincodeError"></span>
                            </div>
                          </div>
                        </div>

                        <br>
                        <button type="submit" class="btn btn-primary">Save </button>
                      </form>
                    </div>
                  </div>
                  <!-- addAddress end -->

                  <!-- Start Change password -->
                  <div class="tab-pane fade" id="v-pills-changepassword" role="tabpanel"
                    aria-labelledby="v-pills-changepassword-tab">

                    <div class="container mt-5">
                      <div class="row justify-content-center">
                        <div class="col-md-6">
                          <div class="card">
                            <div class="card-header">
                              <h4>Change Password</h4>
                            </div>
                            <div class="card-body">
                              <form id="changePasswordForm" method="post" action="/changeUserPassword"
                                onsubmit="return validateForm()">
                                <div class="form-group">
                                  <label for="currentPassword">Current Password</label>
                                  <input type="password" class="form-control" id="currentPassword"
                                    name="currentpassword" required>
                                </div>
                                <div class="form-group">
                                  <label for="newPassword">New Password</label>
                                  <input type="password" class="form-control" id="newPassword" name="newpassword"
                                    required>
                                </div>
                                <div class="form-group">
                                  <label for="confirmPassword">Confirm New Password</label>
                                  <input type="password" class="form-control" id="confirmPassword"
                                    name="confirmpassword" required>
                                </div>
                                <button type="submit" class="btn btn-success">Change Password</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

        </div>
        <!-- Tab content -->
      </div>
    </div>
  </div>

  <!-- Start Footer Section -->
  <footer class="footer-section ">
    <div class="container relative">


      <div class="row g-5 mb-5">
        <div class="col-lg-4">
          <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Furni<span>.</span></a></div>
          <p class="mb-4">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada.
            Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant</p>

          <ul class="list-unstyled custom-social">
            <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
            <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
            <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
            <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
          </ul>
        </div>

        <div class="col-lg-8">
          <div class="row links-wrap">
            <div class="col-6 col-sm-6 col-md-3">
              <ul class="list-unstyled">
                <li><a href="#">About us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
            </div>

            <div class="col-6 col-sm-6 col-md-3">
              <ul class="list-unstyled">
                <li><a href="#">Support</a></li>
                <li><a href="#">Knowledge base</a></li>
                <li><a href="#">Live chat</a></li>
              </ul>
            </div>

            <div class="col-6 col-sm-6 col-md-3">
              <ul class="list-unstyled">
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Our team</a></li>
                <li><a href="#">Leadership</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>

            <div class="col-6 col-sm-6 col-md-3">
              <ul class="list-unstyled">
                <li><a href="#">Nordic Chair</a></li>
                <li><a href="#">Kruzo Aero</a></li>
                <li><a href="#">Ergonomic Chair</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <div class="border-top copyright">
        <div class="row pt-4">
          <div class="col-lg-6">
            <p class="mb-2 text-center text-lg-start">Copyright &copy;
              <script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with
              love by <a href="https://untree.co">Untree.co</a> Distributed By <a
                hreff="https://themewagon.com">ThemeWagon</a> <!-- License information: https://untree.co/license/ -->
            </p>
          </div>

          <div class="col-lg-6 text-center text-lg-end">
            <ul class="list-unstyled d-inline-flex ms-auto">
              <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </footer>
  <!-- End Footer Section -->

  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>

    function payAgain(orderId) {

      axios.get(`/paytheAmount?id=${orderId}`)
        .then((response) => {
          if (response.data.payAgain) {
            razorpayPayment(response.data.order);

          }
        })
    }

    function razorpayPayment(order) {

      console.log('pay again: order:', order);

      var options = {
        "key": "rzp_test_4AB1dm0KvAE5MR", // Enter the Key ID generated from the Dashboard
        "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Furni", //your business name
        "description": "Quality is our value",
        "image": "https://themewagon.github.io/furni/images/sofa.png",
        "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response) {

          const data = {
            response,
            order,
          };
          axios.post('/verifyPayment', data)
            .then(response => {
              console.log('verifyPayment success')
              // console.log('orderId',orderId);
              if (response.data.Success) {
                Swal.fire({
                  icon: 'success',
                  title: 'Success',
                  text: 'Order placed successfully',
                }).then(() => {
                  window.location.href = '/user';
                });
              }
            }).catch(error => {
              console.log('verification error:', error);
            })

        },
        "prefill": {
          "name": "Muhammad Mansoor",
          "email": "mansoorputhukkayam@gmail.com",
          "contact": "7907822914"
        },
        "notes": {
          "address": "Razorpay Corporate Office"
        },
        "theme": {
          "color": "#3b5d50"
        }
      };

      var rzp1 = new Razorpay(options);
      rzp1.on('payment.failed', function (response) {
        alert('payment failed');
        window.location.href = `/failed?id=${order.receipt}`
      });

      rzp1.open();

    }
  </script>

  <script>
    function btnclick(productId, orderQuantity, prdctId, orderId) {
      console.log(productId, orderQuantity, prdctId, orderId)
      fetch(`/userbtn?productId=${productId}&orderQuantity=${orderQuantity}&prdctId=${prdctId}&orderId=${orderId}`, { method: "get" })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            window.location.reload()
          } else {
            console.log('failed to cancel the product');
          }
        })
        .catch(error => {
          console.log(error);
        })
    }

    function returnclick(productId, prdctId, orderId) {
      console.log(productId, prdctId, orderId)
      Swal.fire({
        title: 'Return Product',
        input: 'textarea',
        inputLabel: 'Reason for return',
        inputPlaceholder: 'Type your reason here',
        inputAttributes: {
          'aria-label': 'Type your reason here'
        },
        showCancelButton: true
      }).then((result) => {
        if (result.isConfirmed) {
          const reason = result.value;
          fetch(`/returnclick?productId=${productId}&prdctId=${prdctId}&orderId=${orderId}&reason=${encodeURIComponent(reason)}`, { method: 'get' })
            .then(response => response.json())
            .then(data => {
              if (data.success) {
                Swal.fire('Success', 'Product returned successfully.', 'success').then(() => {
                  window.location.reload()
                });
              } else {
                Swal.fire('Error', 'failed to return the product', 'error');
              }
            })
            .catch(error => {
              console.log('Error', error);
              Swal.fire('Error', 'An error occured while the request', 'error');
            });
        }
      });
    }
  </script>

  <script>
    function validateForm() {
      let currentPassword = document.getElementById("currentPassword").value;
      let newPassword = document.getElementById("newPassword").value;
      let confirmPassword = document.getElementById("confirmPassword").value;

      if (newPassword !== confirmPassword) {
        alert("New password and confirm password do not match.");
        return false;
      }

      // You can add additional validation rules here, e.g., minimum password length, complexity requirements, etc.

      return true;
    }
  </script>


  <script>
    document.getElementById('v-pills-logout-tab').addEventListener('click', async () => {
      const result = await Swal.fire({
        title: 'Are you sure?',
        text: "Do you really want to sign out?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        timer: 3000,
        confirmButtonText: 'Yes, sign me out!'
      });

      if (result.isConfirmed) {
        // Send a request to the back-end to sign out
        const response = await fetch('/logout', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        });

        if (response.ok) {
          Swal.fire(
            'Signed out!',
            'You have been signed out successfully.',
            'success'
          ).then(() => {
            window.location.href = '/';
          });
        } else {
          Swal.fire(
            'Error!',
            'There was a problem signing you out. Please try again.',
            'error'
          );
        }
      }
    });
  </script>

  <script>
    document.getElementById('addressForm').addEventListener('submit', function (event) {
      let valid = true;

      // Clear previous error messages
      document.querySelectorAll('.error').forEach(error => error.textContent = '');

      // Name validation
      const name = document.getElementById('name').value;
      if (/[^a-zA-Z0-9 ]/.test(name)) {
        document.getElementById('nameError').textContent = "Name must not contain special characters.";
        valid = false;
      }

      // Mobile validation
      const mobile = document.getElementById('mobile').value;
      if (!/^\d{10}$/.test(mobile) || /^0+$/.test(mobile)) {
        document.getElementById('mobileError').textContent = "Mobile number must be 10 digits and not all zeros.";
        valid = false;
      }

      // Address validation
      const address = document.getElementById('inputAddress').value;
      if (/[^a-zA-Z0-9 ,\.\-']/.test(address)) {
        document.getElementById('addressError').textContent = "Address must not contain special characters.";
        valid = false;
      }

      // City/Town validation
      const city = document.getElementById('inputCity').value;
      if (/[^a-zA-Z0-9 ]/.test(city)) {
        document.getElementById('cityError').textContent = "City/Town must not contain special characters.";
        valid = false;
      }

      // Post validation
      const post = document.getElementById('post').value;
      if (/[^a-zA-Z0-9 ]/.test(post)) {
        document.getElementById('postError').textContent = "Post must not contain special characters.";
        valid = false;
      }

      // Pincode validation
      const pincode = document.getElementById('pincode').value;
      if (!/^\d{6}$/.test(pincode) || /^0+$/.test(pincode)) {
        document.getElementById('pincodeError').textContent = "Pincode must be 6 digits and not all zeros.";
        valid = false;
      }

      if (!valid) {
        event.preventDefault();
      }
    });
  </script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

  <!-- page loader ends  -->
  <!-- <script>

    let loader = document.getElementById("preLoader")
    window.addEventListener("load", function () {
        loader.style.display = "none";
    })

    </script> -->

</body>

</html>